.comiseo-daterangepicker.ui-widget {
  background-color: #f5f5f5;
}

.comiseo-daterangepicker-triggerbutton.ui-widget {
  background: #e6e6e6 url(/libraries/jquery-ui/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
}

/**
 * Fix issue with the calendar popup going behind the dialog
 * when widget is rendered in a dialog.
 */
.path-admin .comiseo-daterangepicker.ui-widget {
  z-index: 1261 !important;
}
.path-admin .comiseo-daterangepicker.ui-widget + .ui-dialog {
  z-index: 1260 !important;
}

.datarangepicker-dropdown-open .scroll {
  overflow: hidden !important;
}

/**
 * Fixes for the claro theme.
 */
.comiseo-daterangepicker-calendar td {
    height: auto;
}
